<div>
   <h2>Pie-Charts</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center"
fxLayoutGap="20px" class="stats-cards">
   <mat-card fxFlex="23">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="23">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="23">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="23">
      <app-widget-card></app-widget-card>
   </mat-card>
</div>
<br>
   <mat-divider></mat-divider>
<br>
<div>
   <h2>Bar Charts</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center"
fxLayoutGap="20px">
   <mat-card fxFlex="50">
      <app-widget-column></app-widget-column>
   </mat-card>
   <mat-card fxFlex="50">
      <app-widget-column></app-widget-column>
   </mat-card>
 </div>
<br>
   <mat-divider></mat-divider>
<br> 
<div>
   <div>
      <h2>Line Chart</h2>
   </div>
   <app-line-chart></app-line-chart>
</div>
<br>
   <mat-divider></mat-divider>
<br>
<div>
   <h2>Summary</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center"
fxLayoutGap="20px">
   <mat-card fxFlex="25">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="75">
      <app-widget-column></app-widget-column>
   </mat-card>
 </div>
