<div class="my-4">
    <h3>
        Fill User Details
        <div class="float-right">
          <a routerLink="../users" class="btn btn-danger">Cancel</a>
        </div>
    </h3>
    <hr>
</div>

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          pattern="^[A-Za-z ]+$"
          required #name="ngModel">
          <small>
            <div *ngIf="name.errors?.required && name.touched">This field is required</div>
        </small>
      </div>

      <div class="form-group">
        <label for="department">Department</label>
        <input type="text" [(ngModel)]="user.department" 
          class="form-control" 
          id="department" 
          name="department" 
          placeholder="Enter your Department"
          pattern="^[A-Za-z ]+$"
          required #department="ngModel">
          <small>
            <div *ngIf="department.errors?.required && department.touched">This field is required</div>
        </small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" 
          class="form-control" 
          id="email" 
          name="email" 
          placeholder="Enter your email address"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required #email="ngModel">
          <small>
            <div *ngIf="email.errors?.required && email.touched">This field is required</div>
          </small>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" [(ngModel)]="user.age" 
          class="form-control" 
          id="age" 
          name="age" 
          placeholder="Enter your age"
          pattern="^\d+$"
          required #age="ngModel">
          <small>
            <div *ngIf="age.errors?.required && age.touched">This field is required</div>
          </small>
      </div>

      <button type="submit" [disabled]="userForm.invalid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>